.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  min-height: 40px;
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  border-radius: 1rem;
  box-shadow: 2px 5px 2px rgba(137, 137, 137, 0.6);
  color: #464646;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.button:disabled {
  background-color: #ffaeae;
  cursor: not-allowed;
}

/* The spinner animation */
.spinner {
  width: 15px;
  height: 15px;
  border: 2px solid rgb(0, 217, 255);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}