.container {
  animation: fade .5s ease-out forwards;
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}

.link {
  color: #a0a0a0;
  font-size: 0.9rem;
  margin-left: auto;
  padding-top: .7rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: rgba(34, 34, 34, 0.6);
  text-decoration: underline;
}